In [7]:
import glob

import pandas as pd

pd.options.display.max_columns = 500

In [8]:
file_list = glob.glob("./data/*.parquet")
print(file_list)
logger_operations = pd.read_csv(filepath_or_buffer="./data/tires_vehicle_logger_operations.csv", sep=",")
vehicle_data = pd.concat([pd.read_parquet(f) for f in file_list])

['./data/WMWXP3104M2N38931_0000000008750061_202202_Blackbox.parquet', './data/W1K1770841V108072_0000000008750076_202202_Blackbox.parquet', './data/WMWXP3104M2N38931_0000000008750061_202201_Blackbox.parquet', './data/W1K1770841V108072_0000000008750076_202201_Blackbox.parquet', './data/WMWXP3104M2N38931_0000000008750061_202112_Blackbox.parquet', './data/W1K1770841V108072_0000000008750076_202112_Blackbox.parquet']

In [6]:
logger_operations.head(5)

,vehicle_licence_plate,tireid,wheelpos,tire_mounted,tire_demounted,loggerno,logger_mounted,logger_demounted
0,DB30896,173561,1L,2021-07-02,NaN,8750088,2021-07-02,NaN
1,DB30896,173620,2R,2021-07-02,NaN,8750088,2021-07-02,NaN
2,DB30896,173622,1R,2021-07-02,NaN,8750088,2021-07-02,NaN
3,DB30896,173570,2L,2021-07-02,NaN,8750088,2021-07-02,NaN
4,DB30901,173618,2R,2021-07-02,2021-10-27,8750084,2021-07-02,NaN

In [9]:
vehicle_data.head(5)

,gps_long,gps_lat,alt,temp_outside,tachometer_km,steeringwheel_angle,wheelspeed_rr,wheelspeed_rl,wheelspeed_fr,wheelspeed_fl,speed,tiretemperature_rr,tiretemperature_rl,tiretemperature_fr,tiretemperature_fl,tirepressure_rr,tirepressure_rl,tirepressure_fr,tirepressure_fl,ts,ts_sec,ts_int,highres
0,12.268599,55.647925,34.6,NaN,NaN,42949669.99,0.0,0.0,0.0,0.0,0.0,3.0,3.0,127.0,127.0,2.45,2.025,2.05,2.325,2022-02-01 13:52:01,2022-02-01 13:52:01,1.643724e+15,2384480.9
1,12.268599,55.647925,34.8,1.5,31111.0,42949667.81,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:03,2022-02-01 13:52:03,1.643724e+15,2384482.9
2,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:04,2022-02-01 13:52:04,1.643724e+15,2384483.9
3,12.268599,55.647925,34.8,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:05,2022-02-01 13:52:05,1.643724e+15,2384484.9
4,12.268599,55.647925,34.7,1.5,31111.0,42949667.82,0.0,0.0,0.0,0.0,0.0,127.0,127.0,127.0,127.0,6.30,6.300,6.30,6.300,2022-02-01 13:52:06,2022-02-01 13:52:06,1.643724e+15,2384485.9