In [1]:
import pandas as pd

# show more columns
pd.options.display.max_columns = 500

# show the large integer as a regular number
pd.options.display.float_format = '{:.0f}'.format

In [3]:
selected_columns = [
    'loggerno',
    'tireid',
    'created_at',
    'temp_outside',
    'tachometer_km',
    'speed',
    'ts',
    'ts_int',
    'parameter',
    'wheelpos',
    'value'
]

vehicle_data = pd.read_parquet(path='../data/task01.parquet').loc[:, selected_columns]

vehicle_data.head(10)

,loggerno,tireid,created_at,temp_outside,tachometer_km,speed,ts,ts_int,parameter,wheelpos,value
0,8750061,167133,2022-02-01,NaN,NaN,0,2022-02-01 13:52:01,1643723521000000,wheelspeed,2R,0
1,8750061,167118,2022-02-01,NaN,NaN,0,2022-02-01 13:52:01,1643723521000000,wheelspeed,2R,0
2,8750061,174945,2022-02-01,NaN,NaN,0,2022-02-01 13:52:01,1643723521000000,wheelspeed,2R,0
3,8750061,167133,2022-02-01,2,31111,0,2022-02-01 13:52:03,1643723523000000,wheelspeed,2R,0
4,8750061,167118,2022-02-01,2,31111,0,2022-02-01 13:52:03,1643723523000000,wheelspeed,2R,0
5,8750061,174945,2022-02-01,2,31111,0,2022-02-01 13:52:03,1643723523000000,wheelspeed,2R,0
6,8750061,167133,2022-02-01,2,31111,0,2022-02-01 13:52:04,1643723524000000,wheelspeed,2R,0
7,8750061,167118,2022-02-01,2,31111,0,2022-02-01 13:52:04,1643723524000000,wheelspeed,2R,0
8,8750061,174945,2022-02-01,2,31111,0,2022-02-01 13:52:04,1643723524000000,wheelspeed,2R,0
9,8750061,167133,2022-02-01,2,31111,0,2022-02-01 13:52:05,1643723525000000,wheelspeed,2R,0

In [6]:
vehicle_data = vehicle_data.loc[vehicle_data['parameter'] != 'wheelspeed', :].drop_duplicates()
vehicle_data.shape

:

: