In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# show more columns
pd.options.display.max_columns = 500

# show the large integer as a regular number
pd.options.display.float_format = '{:.0f}'.format

### Read data

In [23]:
vehicle_data = pd.read_parquet(path='../data/task01.parquet')
print(vehicle_data.shape)
vehicle_data.head(5)

(22571706, 11)

,loggerno,tireid,created_at,temp_outside,tachometer_km,speed,ts,ts_int,parameter,wheelpos,value
0,8750076,173553,2021-12-01,NaN,14581,0,2021-12-01 05:16:11,1638335771000000,wheelspeed,2R,0
1,8750076,173553,2021-12-01,3,14581,0,2021-12-01 05:16:13,1638335773000000,wheelspeed,2R,0
2,8750076,173553,2021-12-01,3,14581,0,2021-12-01 05:16:14,1638335774000000,wheelspeed,2R,0
3,8750076,173553,2021-12-01,3,14581,0,2021-12-01 05:16:16,1638335776000000,wheelspeed,2R,0
4,8750076,173553,2021-12-01,3,14581,0,2021-12-01 05:16:17,1638335777000000,wheelspeed,2R,0

In [4]:
vehicle_data.parameter.unique()

array(['wheelspeed', 'tiretemperature', 'tirepressure'], dtype=object)

### Pivot

In [5]:
vehicle_data = vehicle_data.drop_duplicates(
    subset=[
        'loggerno', 
        'tireid',
        'created_at', 
        'temp_outside', 
        'tachometer_km', 
        'speed', 
        'ts', 
        'ts_int', 
        'wheelpos',
        'parameter'
    ]
)

vehicle_data = vehicle_data.pivot(
    index=[
        'loggerno',
        'tireid',
        'created_at', 
        'temp_outside', 
        'tachometer_km', 
        'speed', 
        'ts', 
        'ts_int', 
        'wheelpos'
    ], 
    columns='parameter', 
    values='value')

In [22]:
vehicle_data = vehicle_data.reset_index()
vehicle_data.head(3)

parameter,index,loggerno,tireid,temp_outside,ts,ts_int,wheelpos,tirepressure,tiretemperature
0,0,8750061,167118,NaN,2021-12-05 13:58:28,1638712708000000,2R,2,5
1,1,8750061,167118,NaN,2021-12-05 13:58:29,1638712709000000,2R,6,127
2,2,8750061,167118,NaN,2021-12-09 18:35:04,1639074904000000,2R,2,6

### Drop column

In [14]:
vehicle_data.drop(columns=['tachometer_km', 'created_at', 'speed', 'wheelspeed'], inplace=True)
vehicle_data.shape

(7500336, 8)

In [21]:
vehicle_data.head(3)

parameter,loggerno,tireid,temp_outside,ts,ts_int,wheelpos,tirepressure,tiretemperature
0,8750061,167118,NaN,2021-12-05 13:58:28,1638712708000000,2R,2,5
1,8750061,167118,NaN,2021-12-05 13:58:29,1638712709000000,2R,6,127
2,8750061,167118,NaN,2021-12-09 18:35:04,1639074904000000,2R,2,6

### Write data

In [16]:
vehicle_data.to_parquet(path='../data/task02.parquet')